{% extends 'layout.html.twig' %}

{% block content %}
    <body>
        <h1>Liste des scènes de crime :</h1>
    <ul id="crime_scene">
        {% for crime in crime_scene %}
        <li>{{ crime.scene }}</li>
        {% endfor %}
    </ul>
    </body>
{% endblock %}
