{% extends 'layout.html.twig' %}

{% block content %}
{% include 'Components/_header.html.twig' %}
    {% include 'Components/_navBar.html.twig' %}
    {% include 'Components/_hashtag.html.twig' %}
    {% include 'Components/_formCrime.html.twig' %}
    <a href="/">Retourner à la home</a>
{% endblock %}

