{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main">
        {% include 'Components/_header.html.twig' %}
        <div>
            {% include 'Components/_hashtag.html.twig' %}
        </div>
        {% include 'Components/_formCrime.html.twig' %}
    </div>
{% endblock %}

