{% extends 'layout.html.twig' %}

{% block content %}
        {% include 'Components/_header.html.twig' %}
    <div class="body">
        <div class="listhashtaghome">
            {% include 'Components/_hashtag.html.twig' %}
        </div>
        <div class="create-list">
            <section class="createCrime">
                <a href="/crimes/add">
                    <h1>Créez</h1>
                </a>
                <img class="img-phone" src="assets/images/Plume-mobile-light.svg" alt="Une plume">
            </section>

            <section class="listCrimes">
                <a href="/crimes/register">
                    <h1>Registre</h1>
                </a>
                <img class="img-phone" src="assets/images/Register-mobile-light.svg" alt="Illustration de A à Z">
            </section>
        </div>

    </div>

{% endblock %}

