{% extends 'layout.html.twig' %}

{% block content %}
        {% include 'Components/_header.html.twig' %}
    <div class="body">
        <div class="listhashtaghome">
            {% include 'Components/_hashtag.html.twig' %}
        </div>
        <div class="create-list">
            <section class="createCrime">
                <a href="/crimes/add">
                    <h1>Créez</h1>
                </a>
            </section>

            <section class="listCrimes">
                <h1><a href="/crimes/register">Registre</a></h1>
            </section>
        </div>

    </div>

{% endblock %}

