{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main">
        {% include 'Components/_header.html.twig' %}
        {% include 'Components/_hashtag.html.twig' %}
        <div class="body">
            <section class="result-container">
                <h1>Résultats</h1>
                <div class="ringImg">
                <img src="../assets/images/Carnet-anneaux.svg" alt="anneaux d'un carnet de note">
            </div>

            <ul id="crimeScene" class="crimesResults">
                {% for title in titles %}
                    <li> <a href="/crimes/show?id={{ title.id }}">{{ title.title }} </a></li>
                {% endfor %}
            </ul>
            </section>
        </div>
    </div>    
{% endblock %}

