{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Components/_header.html.twig' %}
    <div class="body">
        {% include 'Components/_hashtag.html.twig' %}
        <section class="crimesResults">
            <h1>Résults</h1>
            <ul id="crime_scene">
                {% for title in titles %}
                    <li> <a href="/crimes/show?id={{ title.id }}">{{ title.title }} </a></li>
                {% endfor %}
            </ul>
        </section>
    </div>    
{% endblock %}

