{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main">
        {% include 'Components/_header.html.twig' %}
        <div class="hashtagdesktop">{% include 'Components/_hashtag.html.twig' %}</div>
        {% include 'Components/_displayCrimeScene.html.twig' %}
        <div class="comment-size">
            {% include 'Components/_comments.html.twig' %}
            {% include 'Components/_inputComment.html.twig' %}
        </div>
    </div>
{% endblock %}
