<form action="/crime/show" method="post">
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="title">Nom de la scène de crime :</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="adress">Adresse :</label>
        <input type="text" id="adress" name="adress">
    </div>
    <div>
        <label for="date">Date :</label>
        <input type="date" id="date" name="date">
    </div>
    <div>
        <label for="victim">Victime :</label>
        <input type="text" id="victim" name="victim">
    </div>
    <div>
        <label for="description">Description :</label>
        <textarea id="description" name="description"></textarea>
    </div>
    <button type="submit" value="Submit">Submit</button>
    <a href="/">
    Retourner à la home
    </a>

</form>
