/*---------------------------Mobile First------------------------------*/
* {
        margin:0;
        padding:0;
}

@font-face {
        font-family: amsterdam-four-ttf;
        src: url('../font/amsterdam-four-ttf.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: Waschkueche;
        src: url('../font/Waschkueche.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: AmericanTypewriter;
        src: url('../font/AmericanTypewriter.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
        --main-color: #FFFAE8;
        --secondary-color: #A5593C;
        --third-color: #FFF; 
        --light: rgba(250, 245, 242, 0.938);
        --dark: #14030d;
        --h1-size: 3rem;
        --h1-font: Waschkueche;
        --h2-font: AmericanTypewriter;
        --h2-size: 2rem;
        --h4-font: AmericanTypewriter;
        --h4-size: 1rem;
        --text-size: 1.1rem;
        --text-font: AmericanTypewriter;
}

body {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
}

h1 {
     font-family: var(--h1-font);
     font-size: var(--h1-size);   
     text-align: center;
     margin: 1rem;
}

h2 {
        font-family: var(--h2-font);
        font-size: var(--h2-size);  
        text-align: center; 
}

/* *************** HEADER NAVBAR SEARCHBAR*************** */
.header {
        color: var(--secondary-color);
        font-family: var(--h1-font);
}

.logo {
        font-family: var(--h1-font);
        width: 30%;
        margin-top: 0.7rem;
}

.logocontainer{
        text-align: center;
}

/* *************** NAVBAR *************** */

.navbar { 
        width: 75%;
        margin: auto;
        height: 10vh;
}

/* *************** SEARCHBAR *************** */

.wrapper {
        width: 100%;
        margin: 0,5rem auto;
}
      
.searchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
}
input::placeholder {
        color: #FFF;
}

#searchQueryInput {
        width: 100%;
        height: 7vh;
        background:#A5593C;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
        text-align: center;

}
      
#searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
}
      
#searchQuerySubmit:hover {
        cursor: pointer;
}

#searchBar {
        width: 50%;
        margin: auto;
}

/* *************** SECTION HASTAG *************** */
.listHashtag {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 1.7rem;

}

.listHashtag ul {
        display: flex;
        justify-content: center;
}

.listHashtag li {
        list-style-type: none;
        padding: 0.3rem;
}

.listHashtag a {
        text-decoration: none;
        color: #14030d;
        font-family:var(--text-font);
        font-size: var(--text-size)
}

/* *************** SECTION CREATE CRIME *************** */

.createCrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        border: 1px solid #A5593C;
        width: 85%;
        border-radius: 40px;
}
.createCrime h1 {
        font-family: AmericanTypewriter;
        font-size: 2rem;
        color: #14030d;
        margin-bottom: 0.5rem;
}

.createCrime .button{
        text-decoration: none;
        text-align: center;
        background: var(--secondary-color);
        color: var(--third-color);
        border-radius: 40px;
        padding: 1rem;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        width: 40%;
}

/* *************** SECTION LIST TITLE *************** */

.listCrimes {
        margin: auto;
        border: 1px solid var(--secondary-color);
        width: 85%;
        border-radius: 40px;
        margin-top: 1.6rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        color: var(--secondary-color);
}

.listCrimes h1 {
        font-family: AmericanTypewriter;
        font-size: 2rem;
        color: var(--dark);
}
.listCrimes li {
        list-style-type: none;
        color: var(--secondary-color);
        text-align: center;
}
.listCrimes a {
        text-decoration: none;
        font-size: var(--text-size);
        color: var(--secondary-color);
        text-align: center;
}

.img-ipad {
        display: none;
}

/* *************** SECTION FORM CREATE CRIME *************** */

.formcrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20px;
}

.formcrime label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
}

.formcrime input{
        padding: 0.5rem;
        width: 75vw;
        font-size: var(--text-size);
        background: none;
        line-height: 0,5rem;
        margin-bottom: 0.4rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        outline: none;
        color: var(--dark);
}
.formcrime textarea{
        padding: 0.5rem;
        width: 75vw;
        border-radius: 10px;
        height: 6vh;
}

.formcrime input:focus {
        border-bottom: 5px solid #A5593C;
} 

.submit-form {
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 60%;
        padding: 5px;
        border-radius: 4px;
        border: none;
}

.link-home {
        text-decoration: none;
        color: var(--secondary-color);
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {

        /* *************** HEADER *************** */
        .titleLayout {
                display: block;
        }

        .img-ipad {
                display: initial;
                width: 100px;
                margin: auto;
        }
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */


        /* JOIN CREATE AND LIST */
        .create-list {
                width: 100vw;
                height: 55vh;
                display: flex;
                justify-content: space-around;
                margin: auto;
        }
        /* *************** SECTION CREATE CRIME *************** */

        .createCrime {
                width: 40%;
                height: 20vh;
                margin: auto;
        }

        /* *************** SECTION LIST TITLE *************** */

        .listCrimes {
                width: 40%;
                height: 20vh;
                margin: auto;
        }

    }
    
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
         /* *************** HEADER *************** */
        
        .img-ipad {
                display: none;
        }

        .header {
                display: grid;
                grid-template-columns: 0.5fr 2fr;
        }

        .title {
                margin-top: 3rem;
        }

        .titleLayout {
                display: inline;
        }

        .nav-title {
                grid-column: 2;
                margin-right: 2rem;
        }

        .logocontainer {
                grid-column: 1;
                max-width: 80%;
                margin-left: 2rem;
        }

        .logo {
                width: 70%;
        }

        .navbar {
                margin-top: 3rem;
        }

        #searchQueryInput {
                width: 50%;
                margin: auto;
                margin-top: 2rem;
        }

        /* *************** SECTION HASTAG *************** */
        .body {
                display: flex;
                flex-direction: row;
                margin-top: 3rem;
        }

        .listHashtag ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
        }

        /* JOIN CREATE AND LIST */

        .create-list {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 65vh;
        }

        /* *************** SECTION CREATE CRIME *************** */
        .createCrime {
                justify-content: center;
                width: 420px;
                height: 60vh;
                border: none;
                margin: 0px;
                background: center / contain no-repeat url(../images/Carnetcreate-desk.svg);
                background-position-x: 20px;
                background-position-y: 2px;
        }

        .createCrime .button{
                height: 12.5;
                height: 13%;
                width: 255px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .createCrime h1{
                font-family: var(--h1-font);
                font-size: 1.5rem;
                text-align: center; 
        }

        /* *************** SECTION LIST TITLE *************** */
        .listCrimes {
                justify-content: center;
                height: 60vh;
                border: none;
                margin: 0px;
                background: center / contain no-repeat url(../images/Carnetlist-desk.svg);
        }

        .listCrimes h1 {
                font-family: var(--h1-font);
                font-size: var(--h1-size);
                text-align: center; 
                width: 50%;
                margin-bottom: 10rem;
        }
    }

    /* X-Large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
        /* *************** SECTION HASTAG *************** */
    }
    /* XX-Large devices (larger desktops, 1400px and up) */
    
    @media (min-width: 1400px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
