/*---------------------------Mobile First------------------------------*/
* {
        margin:0;
        padding:0;
}

@font-face {
        font-family: amsterdam-four-ttf;
        src: url('../font/amsterdam-four-ttf.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: Waschkueche;
        src: url('../font/Waschkueche.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: AmericanTypewriter;
        src: url('../font/AmericanTypewriter.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
        --main-color: #FFFAE8;
        --secondary-color: #A5593C;
        --third-color: #FFF; 
        --light: rgba(250, 245, 242, 0.938);
        --dark: #14030d;
        --h1-size: 3rem;
        --h1-font: Waschkueche;
        --h2-font: AmericanTypewriter;
        --h2-size: 2rem;
        --h4-font: AmericanTypewriter;
        --h4-size: 1rem;
        --text-size: 1.1rem;
        --text-font: AmericanTypewriter;
}

body {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
}

h1 {
     font-family: var(--h1-font);
     font-size: var(--h1-size);   
     text-align: center;
     margin: 1rem;
}

h2 {
        font-family: var(--h2-font);
        font-size: var(--h2-size);  
        text-align: center; 
}

h4 {
        font-family: var(--h4-font);
        font-size: var(--h4-size);  
        text-align: center; 
}


/* *************** HEADER *************** */
.header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--secondary-color);
        font-family: var(--h1-font);
}

.logo {
        font-family: var(--h1-font);
        width: 30%;
        margin-top: 0.7rem;
}

.logocontainer{
        text-align: center;
}



/* *************** NAVBAR *************** */

.navbar { 
        width: 75%;
        margin: auto;
        height: 10vh;
        display: flex;
        justify-content: center;
}

.styleNav {
        display: flex;
        flex-direction: column;
}

/* *************** SEARCHBAR *************** */

.wrapper {
        width: 100%;
        margin: 0,5rem auto;
}
      
.searchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
}
input::placeholder {
        color: #FFF;
}

#searchQueryInput {
        width: 100%;
        height: 7vh;
        background:#A5593C;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
        text-align: center;

}
      
#searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
}
      
#searchQuerySubmit:hover {
        cursor: pointer;
}

#searchBar {
        width: 50%;
        margin: auto;
}

/* *************** SECTION HASTAG *************** */
.listHashtag {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 1.7rem;

}

.listHashtag ul {
        display: flex;
        justify-content: center;
}

.listHashtag li {
        list-style-type: none;
        padding: 0.3rem;
}

.listHashtag a {
        text-decoration: none;
        color: #14030d;
        font-family:var(--text-font);
        font-size: var(--text-size)
}

/* *************** SECTION CREATE CRIME *************** */

.createCrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        border: 1px solid #A5593C;
        width: 85vw;
        border-radius: 6vh;
}
.createCrime h1 {
        font-family: AmericanTypewriter;
        font-size: 2rem;
        color: #14030d;
        margin-bottom: 0.5rem;
}

.createCrime a {
        text-decoration: none;
        text-align: center;
        background:#A5593C;
        border: none;
        color: #FFF;
        border-radius: 10vh;
        padding: 1rem;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        width: 40%;
}

/* *************** SECTION LIST TITLE *************** */

.listCrimes {
        margin: auto;
        border: 1px solid #A5593C;
        width: 85vw;
        border-radius: 6vh;
        margin-top: 1.6rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        color:#A5593C;
}

.listCrimes h1 {
        font-family: AmericanTypewriter;
        font-size: 2rem;
        color: #14030d;
}
.listCrimes li {
        list-style-type: none;
        color: #A5593C;
        text-align: center;
}
.listCrimes a {
        text-decoration: none;
        font-size: var(--text-size);
        color: #A5593C;
        text-align: center;
}

/* *************** SECTION FORM CREATE CRIME *************** */

.formcrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}

.formcrime label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}

.formcrime input{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        display: block;
        font-size: 1rem;
        background: none;
        line-height: 0,5rem;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        min-width: 250px;
        padding-left: 5px;
        outline: none;
        color: rgba(0,0,0,1);
}
.formcrime textarea{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 1vh;
        height: 6vh;
}

.formcrime input:focus {
        border-bottom: 5px solid #A5593C;
} 

.submit-form {
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 45vw;
        padding: 5px;
        border-radius: 0.4rem;
        border: none;
}

.link-home {
        text-decoration: none;
        color: var(--secondary-color);
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* X-Large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
        /* *************** SECTION HASTAG *************** */
    }
    /* XX-Large devices (larger desktops, 1400px and up) */
    
    @media (min-width: 1400px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
