/*---------------------------Mobile First------------------------------*/
* {
        margin:0;
        padding:0;
}

@font-face {
        font-family: amsterdam-four-ttf;
        src: url('../font/amsterdam-four-ttf.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: Waschkueche;
        src: url('../font/Waschkueche.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: AmericanTypewriter;
        src: url('../font/AmericanTypewriter.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
        --main-color: #FFFAE8;
        --secondary-color: #A5593C;
        --third-color: #FFF; 
        --light: rgba(250, 245, 242, 0.938);
        --dark: #14030d;
        --h1-size: 3rem;
        --h1-font: Waschkueche;
        --h2-font: AmericanTypewriter;
        --h2-size: 2rem;
        --h4-font: AmericanTypewriter;
        --h4-size: 1rem;
        --text-size: 1.1rem;
        --text-font: AmericanTypewriter;
}

body {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
}

h1 {
        font-family: var(--h1-font);
        font-size: var(--h1-size);   
        text-align: center;
        margin: 1rem;
}

h2 {
        font-family: var(--h2-font);
        font-size: var(--h2-size);  
        text-align: center; 
}

/* *************** HEADER NAVBAR SEARCHBAR*************** */
.header {
        color: var(--secondary-color);
        font-family: var(--h1-font);
}

.logo {
        font-family: var(--h1-font);
        width: 25%;
        margin-top: 0.7rem;
}

.logocontainer{
        text-align: center;
}

/* *************** NAVBAR *************** */

.navbar { 
        width: 75%;
        margin: auto;
        height: 10vh;
}

/* *************** SEARCHBAR *************** */
      
.searchBar {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
}
input::placeholder {
        color: #FFF;
}

#searchQueryInput {
        width: 100%;
        height: 7vh;
        background:#A5593C;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 2rem;

}
      
#searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
        padding-bottom: 55px;
}
      
#searchQuerySubmit:hover {
        cursor: pointer;
}

#searchBar {
        width: 50%;
        margin: auto;
}

/* *************** SECTION HASTAG *************** */
.listHashtag {
        border-top: 1px solid var(--dark);
        border-bottom: 1px solid var(--dark);
        margin-bottom: 1.7rem;
        margin-left: 2rem;
        margin-right: 2rem;

}

.listHashtag ul {
        display: flex;
        justify-content: center;
}

.listHashtag li {
        list-style-type: none;
        padding: 0.3rem;
}

.listHashtag a {
        text-decoration: none;
        color: var(--dark);
        font-family:var(--text-font);
        font-size: var(--text-size)
}

/* *************** SECTION CREATE CRIME *************** */

.createCrime {
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 85%;
        border-radius: 100px;
}
.createCrime h1 {
        font-size: 2rem;
}

.createCrime .button{
        text-align: center;
        border-radius: 40px;
        padding: 1rem;
        width: 40%;
}

.createCrime a{
        font-size: var(--h2-size);
        text-decoration: none;
        color: #ffffff;
        padding: 1rem;
        font-family: AmericanTypewriter;
}

/* *************** SECTION LIST TITLE *************** */

.listCrimes {
        background-color: var(--secondary-color);
        margin: auto;
        width: 85%;
        border-radius: 100px;
        margin-top: 1.6rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        color: var(--secondary-color);
}

.listCrimes h1 {
        font-size: 2rem;
        color: var(--third-color);
}
.listCrimes li {
        list-style-type: none;
        color: var(--secondary-color);
        text-align: center;
}

.listCrimes a {
        text-decoration: none;
        font-size: var(--text-size);
        color: var(--dark);
        text-align: center;
}

.listCrimes a:hover{
        color: #fffae8;
}

.img-ipad {
        display: none;
}

/* *************** SECTION FORM CREATE CRIME *************** */

.formcrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20px;
}

.formcrime label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
}

.formcrime input{
        padding: 0.5rem;
        width: 75vw;
        font-size: var(--text-size);
        background: none;
        line-height: 0,5rem;
        margin-bottom: 0.4rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        outline: none;
        color: var(--dark);
}
.formcrime textarea{
        padding: 0.5rem;
        width: 75vw;
        border-radius: 10px;
        height: 6vh;
}

.formcrime input:focus {
        border-bottom: 5px solid #A5593C;
} 

.submit-form {
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 60%;
        padding: 5px;
        border-radius: 4px;
        border: none;
}

.link-home {
        text-decoration: none;
        color: var(--secondary-color);
}
/* *************** SECTION CRIME SCENE *************** */
.displayCrimeScene{
        display: flex;
        flex-direction: column;
}
.crimeSceneTitle{
        color: var(--secondary-color);
        font-family: var(--h1-font);
        font-size: var(--h1-size);
        text-align: center;
        margin: 1rem; 
}
.auteurTitle{
        text-decoration: underline;
}
.auteur{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: large;
        float: right;
}
.dateTitle{
        text-decoration: underline;
}
.date{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: large;
        float: right;
}
.adresseTitle{
        text-decoration: underline;
        font-size: large;
}
.adresse{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: x-large;
        float: left;
}
.victimeTitle{
        text-decoration: underline;
        font-size: large;
} 
.victime{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: x-large;
        float: left;
}
.descritioncontainer{
        display: flex;
        flex-direction: column;
}
.descrition{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: x-large;
        text-align: center;
        margin: 1rem;
}
.editButton{
        margin: auto;
        width: 25%;
        text-decoration: none;
        text-align: center;
        background: #c2bcaa;
        border: none;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 0.5rem;
        font-family: AmericanTypewriter;

}
.homeButton{
        text-decoration: none;
        text-align: center;
        background: #c7c0a8;
        border: none;
        color: rgb(0, 0, 0);
        border-radius: 40px;
        padding: 1rem;
        font-family: AmericanTypewriter;
        font-size: 1rem;
        width: 40%;
        margin-top: 2rem;
        }
/* *************** SECTION COMMENTS FORM *************** */
.inputComment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}

.inputComment label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}
.inputComment input{

        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        font-size: 1rem;
        background: none;
        line-height: 0,5rem;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        min-width: 250px;
        padding-left: 5px;
        outline: none;
        color: rgba(0,0,0,1);
}
.inputComment textarea{

        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 10px;
        height: 6vh;
}

.inputComment input:focus {
        border-bottom: 5px solid #A5593C;
} 
.submitComment {
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 60%;
        padding: 5px;
        border-radius: 0.4rem;
        border: none;
       
}
/* *************** SECTION COMMENTS *************** */
.commentContainer:nth-child(2n+0) {
        background-color: #A5593C;
        color: var(--text-font);
        font-size: 1em;
        line-height: 1.75;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        cursor: default;
        border-right: 5px solid var(--third-color);
        border-left: 5px solid var(--third-color);
        border-radius: 20px;
      }

.commentContainer:nth-child(2n+1) {
        background-color: #b17c67;
        color: var(--text-font);
        font-size: 1em;
        line-height: 1.75;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        cursor: default;
        border-right: 5px solid var(--third-color);
        border-left: 5px solid var(--third-color);
        border-radius: 20px;
}

.message-right {
        float: right;
        color: var(--third-color);
      }
.message-left {
        float: left;
        color: var(--third-color);
        
}

.time-right {
        float: right;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}

.time-left {
        float: left;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}

.author-right {
        float: right;
        color: rgb(209, 207, 207);
}
.author-left {
        float: left;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}


/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {

        /* *************** HEADER *************** */
        .titleLayout {
                display: block;
        }

        .img-ipad {
                display: initial;
                width: 100px;
                margin: auto;
        }

        .searchBar {
                width: 70%;
        }
        /* *************** SECTION HASTAG *************** */


        /* JOIN CREATE AND LIST */
        .create-list {
                width: 100vw;
                height: auto;
                display: flex;
                justify-content: space-around;
                margin: auto;
        }
        /* *************** SECTION CREATE CRIME *************** */

        .createCrime {
                border-radius: 10px;
                width: 40%;
                height: 25vh;
                margin: auto;
                color: var(--dark);
                justify-content: center;

        }

        /* *************** SECTION LIST TITLE *************** */

        .listCrimes {
                width: 40%;
                margin: auto;
                border-radius: 10px;
        }

    }
    
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
         /* *************** HEADER *************** */
        
        .img-ipad {
                display: none;
        }

        .header {
                display: grid;
                grid-template-columns: 0.5fr 2fr;
        }

        .title {
                margin-top: 3rem;
                margin-bottom: 4rem;
        }

        .titleLayout {
                display: inline;
        }

        .nav-title {
                width: 100%;
                grid-column: 2;
                margin-right: 2rem;
        }

        .logocontainer {
                grid-column: 1;
                max-width: 80%;
                margin-left: 1rem;
        }

        .logo {
                margin-top: 2rem;
                width: 70%;
        }

        #searchQueryInput {
                margin: auto;
        }

        #searchQuerySubmit {
                padding-top: 30px;
        }

        /* *************** SECTION HASTAG *************** */
        .body {
                display: flex;
                flex-direction: row;
                margin-top: 3rem;
        }

        .listHashtag ul {
                margin-left: 2rem;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 100%;
        }

        /* JOIN CREATE AND LIST */

        .create-list {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 65vh;
        }

        /* *************** SECTION CREATE CRIME *************** */
        .createCrime {
                justify-content: center;
                width: 420px;
                min-width: 420px;
                height: 600px;
                border: none;
                margin: 0;
                margin-right: 5rem;
                background: center / contain no-repeat url(../images/Carnetcreate-desk.svg);
                background-size: 94%;
                background-position-x: 28px;
                background-position-y: 8px;
                transform: translateY(-30px);
        }

        .createCrime .button{
                height: 18%;
                width: 245px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
        }

        .createCrime h1{
                font-family: var(--h1-font);
                font-size: 30px;
                text-align: center; 
                transform: translateY(-30px);
                
        }

        /* *************** SECTION LIST TITLE *************** */
        .listCrimes {
                flex-direction: row;
                justify-content: space-around;
                align-items:center;
                height: 600px;
                border: none;
                margin: 0;
                margin-left: 5rem;
                background: center / contain no-repeat url(../images/Carnetlist-desk.svg);
                
        }

        .listCrimes h1 {
                margin: 0px;
                width: 25%;
                font-family: var(--h1-font);
                font-size: var(--h1-size);
        }

        .listCrimes a{
                display: inline-block;
                margin-bottom: 1rem;
                max-width: 60%;
                align-self: flex-start;
        }
    }

    /* X-Large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
        /* *************** SECTION HASTAG *************** */
    }
    /* XX-Large devices (larger desktops, 1400px and up) */
    
    @media (min-width: 1400px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
