/*---------------------------Mobile First------------------------------*/
* {
        margin:0;
        padding:0;
}

@font-face {
        font-family: amsterdam-four-ttf;
        src: url('../font/amsterdam-four-ttf.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: Waschkueche;
        src: url('../font/Waschkueche.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: AmericanTypewriter;
        src: url('../font/AmericanTypewriter.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
        --main-color: #FFFAE8;
        --secondary-color: #A5593C;
        --third-color: #FFF; 
        --light: rgba(250, 245, 242, 0.938);
        --dark: #14030d;
        --h1-size: 4rem;
        --h1-font: Waschkueche;
        --h2-font: AmericanTypewriter;
        --h2-size: 2rem;
        --h4-font: AmericanTypewriter;
        --h4-size: 1rem;
        --text-size: 1.1rem;
        --text-font: AmericanTypewriter;
}

body {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
}

h1 {
        text-align: center;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
}

h2 {
        font-family: var(--h2-font);
        font-size: var(--h2-size);  
        text-align: center; 
}

/* *************** HEADER NAVBAR SEARCHBAR*************** */
.header {
        color: var(--secondary-color);
        font-family: var(--h1-font);
        height: 50vh;
}

.nav-title {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

.body {
       height: 50vh;
}

.logo {
        width: 40%;
}

.logocontainer{
        text-align: center;
        margin: 1.5rem
}

/* *************** NAVBAR *************** */

.navbar { 
        width: 75%;
        margin: auto;
        height: 10vh;
}

/* *************** SEARCHBAR *************** */
      
.searchBar {
        width: 80%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
}
input::placeholder {
        color: var(--third-color);
}

#searchQueryInput {
        width: 100%;
        height: 7vh;
        background:#A5593C;
        outline: none;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
}
      
#searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
        padding-bottom: 10px;
        cursor: pointer;
}
      
#searchBar {
        width: 50%;
        margin: auto;
}

/* *************** SECTION HASTAG *************** */
.listHashtag {
        border-top: 1px solid var(--dark);
        border-bottom: 1px solid var(--dark);
        margin: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
}

.listHashtag ul {
        display: flex;
        justify-content: center;
}

.listHashtag li {
        list-style-type: none;
        padding: 0.3rem;
}

.listHashtag a {
        text-decoration: none;
        color: var(--dark);
        font-family:var(--text-font);
        font-size: var(--text-size)
}
/* *************** SECTION CREATE LIST *************** */
.create-list {
        height: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-around;
}

.img-phone {
        width: 15%;
}

.img-ipad {
        display: none;
}
/* *************** SECTION CREATE CRIME *************** */
/* *************** SECTION LIST TITLE *************** */

.listCrimes, .createCrime {
        display: flex;
        justify-content: center;
        background-color: var(--secondary-color);
        margin: auto;
        width: 65%;
        border-radius: 30px;
        padding: 0.5rem;
        font-size: 1rem;
        color: var(--secondary-color);
}

.listCrimes h1, .createCrime h1 {
        font-size: 2rem;
        color: var(--main-color);
}

.listCrimes a, .createCrime a {
        text-decoration: none;
        font-size: var(--text-size);
        text-align: center;
}

/* *************** SECTION FORM CREATE CRIME *************** */

.title-edit {
        font-size: 1.5rem;
}

.formcrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20px;
}
.ringImg{
        width: 100%;
        margin: auto;
}

.formcrime label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
}

.formcrime input{
        padding: 0.5rem;
        width: 75vw;
        font-size: var(--text-size);
        background: none;
        line-height: 0,5rem;
        margin-bottom: 0.4rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        outline: none;
        color: var(--dark);
}
.formcrime textarea{
        padding: 0.5rem;
        width: 75vw;
        border-radius: 10px;
        height: 6vh;
}

.formcrime input:focus {
        border-bottom: 5px solid #A5593C;
} 

.dateForm{
        display: block;
        text-align: left;
}

.submit-form {
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 60%;
        padding: 5px;
        border-radius: 4px;
        border: none;
}

.link-home {
        margin: auto;
        text-decoration: none;
        background: #c2bcaa;
        color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 5px;
        width: 60%;
        margin-top: 5px;;
        text-align: center;
        font-family: AmericanTypewriter;
}

/* *************** SECTION CRIME REGISTER *************** */

.registreContainer .ringImg {
        width: 85%;
}
.crime_register {
        font-size: var(--h4-size);
        font-family: AmericanTypewriter;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
}
.crime_register li{
        list-style: none;
        padding-bottom: 0.6rem;
}
.crime_register a{
        text-decoration:none;
        color: var(--secondary-color);
}



/* *************** SECTION RESULT CRIME *************** */
.result-container .ringImg{
        width: 85%;
}

.crimesResults {
        font-size: var(--h4-size);
        font-family: AmericanTypewriter;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
}
.crimesResults li{
        list-style: none;
        padding-bottom: 0.6rem;
}
.crimesResults a{
        text-decoration:none;
        color: #A5593C;
}
/* *************** SECTION CRIME SCENE *************** */
.displayCrimeScene{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.crimeSceneTitle{
        color: var(--secondary-color);
        text-align: center;
        margin: 1rem; 
}
.auteurTitle{
        text-decoration: underline;
}
.auteur{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: large;
        float: right;
}
.dateTitle{
        text-decoration: underline;
}
.date{
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: large;
        float: right;
}

.adresse, .victime{
        text-align: center;
        color: var(--dark);
        font-family: var(--h1-font);
        font-size: x-large;
}
.victimeTitle, .adresseTitle{
        text-align: center;
        text-decoration: underline;
        font-size: large;
} 

.descritioncontainer{
        display: flex;
        flex-direction: column;
}
.descrition{
        color: var(--dark);
        font-size: x-large;
        text-align: center;
        margin: 2rem;
}
.editbuttondiv{
        padding: 3rem;
}
.editButton{
        margin: auto;
        text-decoration: none;
        background: #c2bcaa;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 0.5rem;
        font-family: AmericanTypewriter;

}
.homeButton{
        margin: auto;
        text-decoration: none;
        background: #c2bcaa;
        color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 5px;
        width: 60%;
        text-align: center;
        font-family: AmericanTypewriter;
        }
/* *************** SECTION COMMENTS FORM *************** */
.inputComment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}

.inputComment label{
        font-size: var(--text-size);
        font-family: var(--text-font);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 20vh;
}
.inputComment input{

        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        font-size: 1rem;
        background: none;
        line-height: 0,5rem;
        margin-bottom: 2rem;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,1);
        min-width: 250px;
        padding-left: 5px;
        outline: none;
        color: rgba(0,0,0,1);
}
.inputComment textarea{

        margin: auto;
        padding: 0.5rem;
        width: 75vw;
        border-radius: 10px;
        height: 6vh;
}

.inputComment input:focus {
        border-bottom: 5px solid #A5593C;
} 

.titre-commentaire {
        font-size: 1.5rem;
        border-top: 1px solid black;
        padding-top: 1rem;
        color: var(--secondary-color);
}

.submitComment {
        cursor: pointer;
        margin: 0.8rem 0rem 0.8rem 0rem;
        color: var(--third-color);
        background-color: var(--secondary-color);
        font-family: var(--text-font);
        font-size: var(--text-size);
        width: 60%;
        padding: 5px;
        border-radius: 0.4rem;
        border: none;
       
}
/* *************** SECTION COMMENTS *************** */
.commentContainer:nth-child(2n+0) {
        background-color: #A5593C;
        color: var(--text-font);
        font-size: 1em;
        line-height: 1.75;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        cursor: default;
        border-right: 5px solid var(--third-color);
        border-left: 5px solid var(--third-color);
        border-radius: 20px;
      }

.commentContainer:nth-child(2n+1) {
        background-color: #b17c67;
        color: var(--text-font);
        font-size: 1em;
        line-height: 1.75;
        padding: 0.5rem 0.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        cursor: default;
        border-right: 5px solid var(--third-color);
        border-left: 5px solid var(--third-color);
        border-radius: 20px;
}

.message-right {
        float: right;
        color: var(--third-color);
      }
.message-left {
        float: left;
        color: var(--third-color);
        
}

.time-right {
        float: right;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}

.time-left {
        float: left;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}

.author-right {
        float: right;
        color: rgb(209, 207, 207);
}
.author-left {
        float: left;
        color: rgb(209, 207, 207);
        margin-right: 1.5rem;
}



/* Small devices and tablets (landscape phones, 576px and up)  */

@media (min-width: 576px) {

        /* *************** HEADER *************** */
        h1 {
                font-size: 2.5rem;
        }

        .logo {
                width: 25%;
                margin-top: 0.7rem;
        }

        .searchBar {
                width: 70%;
        }
        /* *************** SECTION HASTAG *************** */

        ul {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
        }

        /* *************** SECTION CREATE LIST *************** */
        .create-list {
                width: 100%;
                height: 80%;
                display: flex;
                flex-direction: unset;
                justify-content: center;
                align-items: center;
        }

         /* *************** SECTION CREATE CRIME *************** */

         .createCrime, .listCrimes {
                background-color: var(--secondary-color);
                height: auto;
                width: 30%;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
        }

        .createCrime a, .listCrimes a{
                color: var(--secondary-color);
        }

        .img-phone {
                display: none;
        }

        .img-ipad {
                display: unset;
                height: 80%;
        }

        /* *************** SECTION FORM CREATE CRIME *************** */
         .formcrime .ringImg {
                width: 100%;
        }

        .formcrime label{
                font-size: 1.5rem;
        }
        .formcrime input{
                font-size: 1.5rem;
                font-size: 1.2rem;
        }
    }
    
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {

        .main {
                width: 85%;
                height: 100%;
                margin: auto;
        }
        
         /* *************** HEADER *************** */

        .header {
                height: unset;
                display: grid;
                grid-template-columns: 0.5fr 2fr;
        }

        .title {
                margin-top: 3rem;
                margin-bottom: 4rem;
                font-size: 4rem;
        }

        .titleLayout {
                display: inline;
        }

        .nav-title {
                width: 100%;
                grid-column: 2;
                margin-right: 2rem;
                margin-top: 4rem;
        }

        .logocontainer {
                grid-column: 1;
                max-width: 80%;
                margin-left: 1rem;
        }
        .logo {
                margin-top: 2rem;
                width: 70%;
        }

        #searchQueryInput {
                margin: auto;
        }

        #searchQuerySubmit {
                padding-top: 30px;
        }

        /* *************** SECTION HASTAG *************** */
        .body {
                display: flex;
                margin-top: 3rem;
        }

        .listHashtag {
                height: 100%;
                display: flex;
        }

        .listhashtaghome .listHashtag ul{
                margin: 2rem;
                display: flex;
                flex-direction: column;
                align-content: space-around;
        }
        
        /* JOIN CREATE AND LIST */

        .create-list {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 115%;
        }

        .img-ipad {
                display: none;
        }

        /* *************** SECTION CREATE CRIME *************** */
        .createCrime {
                width: 40%;
                min-width: 320px;
                height: 100%;
                margin: 0;
                background: center / contain no-repeat url(../images/Carnetcreate-desk.svg);
        }

        .createCrime h1{
                color: unset;
                font-family: var(--h1-font);
                font-size: 2.5rem;
        }

        /* *************** SECTION LIST TITLE *************** */
        .listCrimes {
                display: flex;
                justify-content: start;
                width: 40%;
                min-width: 320px;
                height: 100%;
                margin: 0;
                background: center / contain no-repeat url(../images/Carnetcreate.svg);
                
        }

        .listCrimes h1 {
                color: unset;
                padding-top: 2rem;
                font-size: 2.5rem;
                font-family: var(--h1-font);
        }
    }

    /* X-Large devices (large desktops, 1200px and up) */
    
    /* @media (min-width: 1200px) { */
        /* *************** HEADER *************** */