/*---------------------------Mobile First------------------------------*/
@font-face {
        font-family: amsterdam-four-ttf;
        src: url('../font/amsterdam-four-ttf.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: Waschkueche;
        src: url('../font/Waschkueche.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;

        font-family: AmericanTypewriter;
        src: url('../font/AmericanTypewriter.ttc') format('truetype');
        font-weight: normal;
        font-style: normal;
}

:root {
        --main-color: #FFFAE8;
        --secondary-color: #A5593C;
        --third-color: #FFF; 
        --light: rgba(250, 245, 242, 0.938);
        --dark: #14030d;
        --text-font-size: 0.6rem;
        --h1-size: 4rem;
        --h1-font: Waschkueche;
        --h2-font: AmericanTypewriter;
        --h2-size: 2rem;
        --text-font: AmericanTypewriter;
}

body {
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
}

h1 {
     font-family: var(--h1-font);
     font-size: var(--h1-size);   
     text-align: center;
}

h2 {
        font-family: var(--h2-font);
        font-size: var(--h2-size);   
   }

/* *************** HEADER *************** */
.header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--secondary-color);
        font-family: var(--h1-font);
}

.logo {
        margin-top: 5rem;
        width: 30%;
}
        

/* *************** NAVBAR *************** */

.navbar { 
        width: 75%;
        margin: auto;
        height: 10vh;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
}

.styleNav {
        display: flex;
        flex-direction: column;
}

#searchBar {
        width: 50%;
        margin: auto;
}

.buttonSearchBar {
        padding: 0.2rem;
        margin: auto;
        border-radius: 4px;
}

/* *************** SECTION HASTAG *************** */
.listHashtag {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
}

.listHashtag ul {
        display: flex;
}

.listHashtag li {
        list-style-type: none;
        padding: 0.3rem;
        
}

.listHashtag a {
        text-decoration: none;
}

/* *************** SECTION LIST TITLE *************** */

.listCrimes {
        margin: auto;
        border: 1px solid black;
        width: 75vw;
        margin-bottom: 1rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4px;
}

.listCrimes li{
        list-style-type: square;
}

/* *************** SECTION CREATE CRIME *************** */

.createCrime {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0.5rem;
        border: 1px solid black;
        width: 75vw;
        border-radius: 4px;
}

.createCrime a {
        text-decoration: none;
        color: var(--secondary-color);
        border: 1px solid black;
        padding: 1rem;
}

/* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
    
    /* X-Large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
        /* *************** SECTION HASTAG *************** */
    }
    /* XX-Large devices (larger desktops, 1400px and up) */
    
    @media (min-width: 1400px) {
         /* *************** HEADER *************** */
        /* *************** NAVBAR *************** */
        /* *************** SECTION HASTAG *************** */
        /* *************** SECTION LIST TITLE *************** */
        /* *************** SECTION CREATE CRIME *************** */
    }
