<header class="header">
    <div class = "logocontainer">
      <a href="/"> <img class="logo" src="/assets/images/Logo-journal.svg" alt="picture"> </a>
    </div>
    <h1><span class="titleLayout">Sherlock</span> <span class="titleLayout">Journal</span> </h1>
</header>
