<header class="header">
    <div class = "logocontainer">
    <a href="/">
  <img class="logo" src="/assets/images/Logo-journal.svg" alt="picture">
</a>
    <h1>Sherlock Journal</h1>
    </div>
</header>
