<form class="inputComment" action="" method="post">
    <div>
        <label for="name">Name : </label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="message">message :</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <button class="submitComment" type="submit" value="Submit">envoyer</button>