<form class="inputComment" action="" method="post">
    <div>
        <label for="name"></label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="message"></label>
        <input type="text" id="title" name="title">
    </div>
    <button class="submitComment" type="submit" value="Submit">envoyer</button>