<nav class="navbar">
<form method="post"  autocomplete= "on" class="styleNav">
    <input id="searchBar" name= "searchBar" type= "text" size= "50" placeholder= "Rechercher un crime "/>
    <button class="buttonSearchBar" type="submit">Search</button>
</form>
</nav>