<section class="hashtag-container">
    <ul class="hashtag">
        <li><a href="#">#CrimeScene1</a></li>
        <li><a href="#">#CrimeScene2</a></li>
        <li><a href="#">#CrimeScene3</a></li>
        <li><a href="#">#CrimeScene4</a></li>
        <li><a href="#">#CrimeScene5</a></li>
    </ul>
</section>