<section class="listCrimes">
<h1>Liste des scènes de crime :</h1>
<ul id="crime_scene">
    {% for title in titles %}
    <li><a href="/crimes/show?id={{ title.id }}"> {{  title.title }} </a></li>
    {% endfor %}
</ul>
</section>